.contact{
    background: black;
    padding:30px;
}
.contact h1{
    text-align: center;
    color:white;
    font-size: 3rem;
    
}
.contact form{
    max-width: 60%;
    margin: auto;
    display: grid;
}
input{
    background: black;
    border-radius: 50px;
    border: 2px white solid;
    height: 50px;
    margin: 20px;
    padding: 10px 20px;
    color:white;
}
textarea{
    background: black;
    border: 2px white solid;
    border-radius: 10px;
    margin: 20px;
    height: 100px;
    padding: 10px 20px;
    color:white;
}
button{
    background: white;
    border-radius: 50px;
    height: 40px;
 width: 30%;
 margin: auto;
 border:none;
    color: black;
    font-weight: bold;
    font-size: 1rem;
}
@media screen and (max-width: 1100px) {
    .contact form{
        max-width: 80%;
        margin: auto;
        display: grid;
    }
    input{
        background: black;
        border-radius: 50px;
        border: 2px white solid;
        height: 30px;
        margin: 20px;
        padding: 10px 20px;
    }
    textarea{
        background: black;
        border: 2px white solid;
        border-radius: 10px;
        margin: 20px;
        height: 100px;
        padding: 10px 20px;
    }
    

  }