.home{
    background: url('https://kntechpower.files.wordpress.com/2016/05/hi-tech-concepts-on-blue-background-header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin-top: -10%;
 
}

.home-text h1{
    color:antiquewhite;
    text-align: center;
    padding-top: 5em;

    font-size: 4rem;
    font-weight: 400

}
.home-text h2{
    color:antiquewhite;
    text-align: center;

    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 2px;

}
.home-text h3{
    color: #7fb8ce;
    text-align: center;
  
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 3px;

}


@media screen and (max-width: 1100px) {
    .home-text h1{
        color:antiquewhite;
        text-align: center;
        padding-top: 5em;
    
        font-size: 4rem;
        font-weight: 400
    
    }
    .home-text h2{
        color:antiquewhite;
        text-align: center;
    
        font-size: 3rem;
        font-weight: 500;
        letter-spacing: 2px;
    
    }
    .home-text h3{
        color: #7fb8ce;
        text-align: center;
      
        font-size: 1.5rem;
        font-weight: bold;
        letter-spacing: 3px;
    
    }
    

  }