.home{
    background: url('https://media.istockphoto.com/vectors/abstract-green-geometric-vector-background-can-be-used-for-cover-vector-id1157564828?k=20&m=1157564828&s=612x612&w=0&h=WeKFirpt0tFhAxqT-HOjmJUChInmghGFnwrBYf51wTI=');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin-top: -10%;
 
}

.home-text h1{
    color:white;
    text-align: center;
    padding-top: 5em;

    font-size: 4rem;
    font-weight: 400

}
.home-text h2{
    color:white;
    text-align: center;

    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 2px;

}
.home-text h3{
    color: rgb(20, 85, 20);
    text-align: center;
  
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 3px;

}


@media screen and (max-width: 480px) {
    .home{
        background: url('https://media.istockphoto.com/vectors/abstract-green-geometric-vector-background-can-be-used-for-cover-vector-id1157564828?k=20&m=1157564828&s=612x612&w=0&h=WeKFirpt0tFhAxqT-HOjmJUChInmghGFnwrBYf51wTI=');
        background-size: cover;
        background-repeat: no-repeat;
        padding: 2em;
        height: 100%;
        margin-top: -10%;
     
    }
    .home-text h1{
        color:white;
        text-align: center;
        padding-top: 3em;
    
        font-size: 2rem;
        font-weight: 400
    
    }
    .home-text h2{
        color:white;
        text-align: center;
    
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: 2px;
    
    }
    .home-text h3{
        color: rgb(20, 85, 20);
        text-align: center;
      
        font-size: 1rem;
        font-weight: bold;
        letter-spacing: 3px;
        margin-bottom: 3rem;
    
    }
    

  }