.portfolio-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100%;
    margin: auto;

}

.projects{
    max-width: 100%;
    margin: 10%;
    padding-top:2em;
     text-align: center;
    box-shadow: 5px 5px 5px 5px #c7c7c7;
    border-radius: 10px;
}
.projects-card img{
 
 width: 100%;
 height: 80%;
}
@media screen and (max-width: 480px) {
    .portfolio-container{
        display: grid;
        grid-template-columns: 1fr;
        max-width: 100%;
        margin: auto;
       
      
    
    }
}
