.portfolio h1{
    text-align: center;
   
    font-size: 3rem;
    color: gray;
}
.portfolio-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 80%;
    margin: auto;

}
.projects{
    max-width: 80%;
    margin: 50px;
    
    box-shadow: 5px 5px 5px 5px #888888;
    border-radius: 20px;
}
.projects img{
    height: 80%;
    width: 100%;

}
.projects h1{
    text-align: center;
    font-size: 1rem;
    color: gray;
}
.projects-description {
    text-align: center;
}
.projects-description a{
    text-decoration: none;
    color: gray;
    cursor: pointer;
}
@media screen and (max-width: 1100px) {
    .portfolio-content{
        display: grid;
        grid-template-columns: 1fr;
        max-width: 80%;
        margin: auto;
    
    }
    .projects{
        max-width: 80%;
        margin: 50px;
        
        box-shadow: 5px 5px 5px 5px #888888;
        border-radius: 20px;
    }
    .projects img{
        height: 80%;
        width: 100%;
    
    }
    .projects h1{
        text-align: center;
        font-size: 1rem;
        color: gray;
    }
    .projects-description {
        text-align: center;
    }
    .projects-description a{
        text-decoration: none;
        color: gray;
        cursor: pointer;
    }

  }