.navbar{
    overflow: hidden;
    background: black;
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    position: fixed; /* Sticky/fixed navbar */
    width: 100%;

    top: 0; /* At the top */
    z-index: 99;

}
.navlinks{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin-top: 0;
    padding-top: 3%;
  
 
}

.navlinks a{
    text-decoration: none;
    color:antiquewhite;
    padding: 100 auto;
    font-weight: bold;
  
}